development:
  WEB_DOMAIN: ''
  WECHAT_APP_ID: ''
  WECHAT_APP_SECRET: ''
  SENTRY_URL: ''
  TUBECENTER_APP_TOKEN: ''
  TUBECENTER_APP_URL: ''
  NEWRELIC_KEY: ''

  POSTGRES_USERNAME: ''
  POSTGRES_PASSWORD: ''
  SSLGUALA_DATABASE_POOL: ''
  POSTGRES_DATABASE: ''
  REDIS_URL: ''

production:
  WEB_DOMAIN: ''
  WECHAT_APP_ID: ''
  WECHAT_APP_SECRET: ''
  SENTRY_URL: ''
  TUBECENTER_APP_TOKEN: ''
  TUBECENTER_APP_URL: ''
  NEWRELIC_KEY: ''

  POSTGRES_USERNAME: ''
  POSTGRES_PASSWORD: ''
  SSLGUALA_DATABASE_POOL: ''
  POSTGRES_DATABASE: ''
  REDIS_URL: ''